<div class="container mt-4">
  <h2>Follow Users</h2>
  <div class="row">
    <% if @users.exists?  %>
    <div class="col-8 offset-2">
    <table class="table">
      <thead>
        <tr>
          <th>name</th>
          <th>Follow</th>
          <th>Follower</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user|  %>
        <tr>
          <td>
            <%= link_to user_path(user.id)do %>
            <div>
              <%= attachment_image_tag user, :profile_image,size:"50x50", fallback: "no_image.jpg",class: "rounded-circle"%>
            </div>
            <div>
              <i class="text-dark ml-2"><%= user.name %></i>
            </div>
            <% end %>
          </td>
            </div>
          <td><%= link_to user_followings_path(user),class:"text-dark"  do %><i class="fas fa-user-check fa-lg mt-3"><%= user.followings.count %></i><% end %></td>
          <td><%= link_to user_followers_path(user),class:"text-dark"  do %><i class="fas fa-user-friends fa-lg mt-3"><%= user.followers.count %></i><% end %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    <% else %>
    <div class="mx-auto">
      <h1><i class="fas fa-users-slash">&nbsp;No Users</h1></i>
    </div>
    <% end %>
  </div>
</div>
