



<div class="row mt-5" >
  <% musics.each do |music| %>
  <div class="col-lg-5  offset-lg-1  col-8 offset-2" style="margin-top: 150px; " >
    <div class="card mt-4 shadow-lg h-100" >
      <div>
        <%= link_to music_path(music) do %>
          <%= attachment_image_tag music, :musicimage,:fill,300,300,size: "300x300", class: "card-img-top"%>
        <% end %>
      </div>
      <div class="card-body">
        <%# 曲名とアーティスト名 %>
        <h4 class="card-title text-center">「<strong><%= music.music_name  %></strong>」   <%= music.artist_name  %></h4>
        <%# 説明 %>
        <p class="card-text text-center"><%= music.music_caption %></p>
        <%# YOUTUBE %>
        <div class="youtube">
          <iframe width="300" height="200" src="https://www.youtube.com/embed/<%= music.music_url.last(11) %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <%# ジャンル %>
        <div class="text-info text-center" style="margin-top:20px;">
          <%= link_to search_genre_path, q: music.music_genre do %>
          <i class="card-text fa-lg"><%= music.music_genre %></i>
          <% end %>
        </div>

         <%# 平均ランク 部分　%>
          <h6 class="text-info text-center ">Avg.</h6>
          <div id="music_rate_<%= music.id  %>" data-score="<%= music.music_comments.average(:post_rate) %>" class="text-center "></div>
          <script>
            $(document).on('turbolinks:load', function(){
              $('#music_rate_<%= music.id %>').empty();
              $('#music_rate_<%= music.id  %>').raty({
              　readOnly: true,
              　score: function() {
                return $(this).attr('data-score');
                },
                path: '/assets/'
             });
            });
          </script>

        <%# ファボ %>
        <div class="mt-4 text-center">
          <div class="d-inline mt-4" id="music_favorite_<%= music.id %>">
            <%= render 'favorites/favorite', music: music %>
          </div>
        <%# コメント数 %>
          <div class="d-inline ml-2 mt-4">
            <i class="fas fa-comments text-info fa-lg"><%= music.music_comments.count %></i>
          </div>
        </div>

         <%# 音楽詳細画面へ %>
        <div class="mt-4 text-center">
          <button type="button" class="btn "><%= link_to music_path(music), class: "text-info" do %><i class="far fa-eye fa-lg">&nbsp;Detail</i><% end %></button>
        </div>

        <%# 名前と画像 %>
        <div class="card-text text-right " >
          <%= link_to user_path(music.user),class: "text-dark" do %>
          <div>
            <%= attachment_image_tag music.user,:profile_image ,size:"50x50", fallback: "no_image.jpg",class: "mt-3 rounded-circle" %>
          </div>
          <div class=""><%= music.user.name%></div>
          <% end %>
        </div>
        <%# 投稿日 %>
        <div class="text-right mt-3"><%= time_ago_in_words(music.created_at) %></div>
      </div>
    </div>
  </div>
  <% end %>
  <div class="mt-5">
    <div>
      <%= link_to "New date", index_new_date_path %>
    </div>
    <div>
      <%= link_to "Rate", index_rate_desc_path %>
    </div>
  </div>
</div>