<div class="container">
  <h1>EditMusics</h1>
  <div class="row">
    <div class="col-8 offset-2">
      <%= form_with model: @music, local: true do |f| %>
      <div>
        <label>Musician's Name</label>
        <%= f.text_field :music_name %>
      </div>
      <div>
        <label for="music_caption">Musician’s Caption</label>
        <%= f.text_area :music_caption  %>
      </div>
      <div>
        <label for="music_url">Musician's Musicvideo</label>
        <%= f.text_field :music_url  %>
      </div>
      <div>
        <label for="musicimage">Musician's Image</label>
        <%= f.attachment_field :musicimage  %>
      </div>
      <div>
        <%= f.submit "Edit" %>
      </div>
      <% end %>
    </div>
  </div>
</div>




