<h1>Musics</h1>
<% @musics.each do |music| %>
<div>

    <%= attachment_image_tag music, :musicimage  %>
    <p>Musician's Name:<%= music.music_name %></p>
    <p>Musician’s Caption:<%= music.music_caption %></p>
    <p>Musician's Musicvideo:<%= music.music_url %></p>
    <p>Date:<%= music.created_at.strftime('%Y/%m/%d') %></p>
    <span><%= link_to "Show", music_path(music) %></span>
</div>
<% end %>
<span><%= link_to "Music Post", new_music_path %></span>