<div class="container">
  <h2 class="mt-3"><i class="fas fa-plus">New&nbsp;Music</i></h2>
  <div class="row">
    <div class="col-7 offset-2 mt-4">
      <%= form_with model: @music, local: true do |f| %>
      <div>
        <div class="mb-2 mt-3"><strong>Musician's Name</strong></div>
        <%= f.text_field :music_name,class: "form-control" %>
        <small class="form-text text-muted">Please input your music name</small>
      </div>
      <div>
        <div class="mb-2 mt-3" ><strong>Musician’s Caption</strong></div>
        <%= f.text_area :music_caption,class: "form-control"  %>
        <small class="form-text text-muted">Please input your music caption</small>
      </div>
      <div>
        <div class="mb-2 mt-3"><strong>Musician's Musicvideo</strong></div>
        <%= f.text_field :music_url,class: "form-control"  %>
        <small class="form-text text-muted">Please input your music URL</small>
      </div>
      <div>
        <div class="mb-2 mt-3" ><strong>Musician’s image</strong></div>
        <%= f.attachment_field :musicimage,class: "form-control-file"  %>
        <small class="form-text text-muted">Please input your music image</small>
        <button class="btn btn-info mt-3"><i class="fas fa-plus">&nbsp;Post</i>
          <% f.submit %>
        </button>
      </div>
      <% end %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-2">
      <button class="btn btn-primary">
        <%= link_to :back ,class: "text-light" do%><i class="fas fa-backward">&nbsp;Back</i><% end %>
      </button>
    </div>
 </div>

</div>

