<h1>Your post Music</h1>

<div>
    <%= attachment_image_tag @music, :musicimage  %>
    <p>Musician's Name:<%= @music.name  %></p>
    <p>Musician’s Caption:<%= @music.music_caption  %></p>
    <p>Musician's Musicvideo:<%= @music.music_url  %></p>
    <p>Date:<%= @music.created_at.strftime('%Y/%m/%d')  %></p>
    
</div>
