<h1 class="mt-3 ml-4"><i class="fas fa-music">&nbsp;Posted Music</i></h1>
<div class="container">
  <div class="row mt-4">
    <div class="col-6 my-4">
      <div class="card mt-4 shadow-lg h-70">
        <%= attachment_image_tag @music, :musicimage ,:fill, 600, 500, fallback: "no_image.jpg",size: "600x500", class:"card-img-top" %>
        <div class="card-body p-5">
          <p class="card-title"><%= @music.music_name  %></p>
          <p class="card-text"><%= @music.music_caption  %></p>
          <p class="card-text"><%= @music.music_url  %></p>
          <p class="card-text"><%= @music.created_at.strftime('%Y/%m/%d')  %></p>
          <h5 id="music_favorite">
            <%= render 'favorites/favorite', music: @music %>
          </h5>
          <% if @music.user == current_user %>
          <button type="button" class="btn btn-link card-link"> <%= link_to "MusicEdit",edit_music_path(@music)%></button>
          <button type="button" class="btn btn-link card-link"><%= link_to "Music Delete",music_path(@music),method: :delete, "data-confirm" => "Do you really delete?"%></button>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-5 ml-4 mt-5 " >
      <h3><i class="fas fa-comments">Comments</i></h3>
      <p>Number of comments：<%= @comments.count %></p>
      <button type="button" class="btn btn-outline-primary btn-block"><%= link_to new_music_music_comment_path(@music),method: :get do %><i class="fas fa-comments">New post</i><% end %></button>
      <table class="table">
        <thead>
          <tr>
            <th>Profile</th>
            <th>comment</th>
            <th></th>
          </tr>
        </thead>
        <% @comments.each do |music_comment| %>
        <tbody>
          <tr>
            <td>
              <%= link_to  user_path(music_comment.user) do %>
              <div><%= attachment_image_tag music_comment.user,:profile_image ,size:"50x50", fallback: "no_image.jpg",class:"mt-3 rounded-circle" %></div>
              <div><%= music_comment.user.name %></div>
              <% end %>
            </td>
            <td><%= music_comment.comment %></td>
            <% if music_comment.user == current_user %>
            <td>
              <button type="button" class="btn btn-outline-info btn-sm">
              <%= link_to "Edit", edit_music_music_comment_path(music_comment.music,music_comment),method: :get, class: "text-info" %>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-outline-danger btn-sm ">
              <%= link_to "Delete", music_music_comment_path(music_comment.music,music_comment),method: :delete,'data-confirm' => "Do you really want to delete?", class: "text-danger"%>
              </button>
            </td>
            <% end %>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>

<span><%= link_to "back",musics_path %></span>


