<h1 class="mt-3 ml-4"><i class="fas fa-music">&nbsp;Posted Music</i></h1>
<div class="container">
  <div class="row mt-4">
    <div class="col-8 my-4 offset-2">
      <div class="card mt-4 shadow-lg h-70">
        <%= attachment_image_tag @music, :musicimage ,:fill, 600, 500, fallback: "no_image.jpg",size: "600x500", class:"card-img-top" %>
        <div class="card-body p-5">
          <p class="card-title"><strong><%= @music.music_name  %></strong></p>
          <p class="card-text"><%= @music.music_caption  %></p>
          <p class="card-text"><%= @music.music_url  %></p>
          <p class="card-text"><%= @music.created_at.strftime('%Y/%m/%d')  %></p>
          <div class="d-inline" id="music_favorite_<%= @music.id  %>">
              <%= render 'favorites/favorite', music: @music %>
          </div>
          <div class="d-inline ml-2">
            <i class="fas fa-comments text-info fa-lg"><%= @comments.count %></i>
          </div>
          <div class="mt-4">
            <% if @music.user == current_user %>
            <button type="button" class="btn btn-outline-info btn-sm"> <%= link_to edit_music_path(@music),class: "text-info" do%><i class="fas fa-edit"></i><% end %></button>
            <button type="button" class="btn btn-outline-danger btn-sm"><%= link_to music_path(@music),method: :delete, "data-confirm" => "Do you really delete?",class: "text-danger" do%><i class="fas fa-trash-alt"></i><% end %></button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-8 mt-5 offset-2">
      <h3><i class="fas fa-comments ">Comments</i></h3>
      <button type="button" class="btn btn-outline-primary btn-block mt-3"><%= link_to new_music_music_comment_path(@music),method: :get do %><i class="fas fa-comments">New post</i><% end %></button>
      <div class="table-responsive">
      <table class="table table-hover mt-3" >
        <thead>
          <tr>
            <th scope="col">Profile</th>
            <th scope="col">comment</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="comment">
          <%= render "music_comments/comment",comments: @comments %>
        </tbody>
      </table>
      </div>
    </div>
  </div>
  <div class="row yt-5">
    <div class="col-2">
       <button class="btn btn-primary">
         <%= link_to :back ,class: "text-light" do%><i class="fas fa-backward">&nbsp;Back</i><% end %>
       </button>
    </div>
  </div>
</div>



