<div class="container" style="margin-bottom:500px; ">
  <h1 class="mt-3 ml-4" id="area-1"><i class="fas fa-music">&nbsp;Posted Music</i></h1>
  <div class="row mt-4">
    <div class="col-8 my-4 offset-2">
      <div class="card mt-4 shadow-lg h-70">
        <%= attachment_image_tag @music, :musicimage ,size: "100x300", fallback: "no_image.jpg",class: "card-img-top" %>
        <div class="card-body p-5">
          <%# 曲名・アーティスト名 %>
          <h4 class="card-title text-center">「<strong><%= @music.music_name  %></strong>」   <%= @music.artist_name  %></h4>
          <%#  説明　%>
          <p class="card-text text-center" style="margin-top:50px;"><%= @music.music_caption  %></p>
          <%# YOUTUBE %>
          <div class="youtube">
            <iframe class="my-3" width="500" height="300" src="https://www.youtube.com/embed/<%= @music.music_url.last(11)  %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <%# ジャンル %>
          <p class="card-text mt-4 text-info text-center"><%= @music.music_genre %></p>

          <%# ランク %>
          <% unless @average_rate.nil? %>
            <h6 class="text-center mt-3"><i><%= @average_rate.floor(2) %></i></h6>
          <% else %>
            <h6 class="text-center mt-3"><i>0</i></h6>
          <% end %>
          <div id="average-review-rating" data-score="<%= @average_rate %>" class="text-center"><i>Avg.</i></div>
          <script>
            $('#average-review-rating').raty({
              readOnly: true,
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: function() {
                return $(this).attr('data-score')
              }
              });
          </script>
          <%# ファボ・コメント　 %>
          <div class="mt-3 text-center">
            <div class="d-inline " id="music_favorite_<%= @music.id  %>">
              <%= render 'favorites/favorite', music: @music %>
            </div>
            <div class="d-inline ml-2">
              <i class="fas fa-comments text-info fa-lg"><%= @comments.count %></i>
            </div>
          </div>
          <%# 投稿ユーザー %>
          <div class="card-text mb-3 text-right" >
            <%= link_to user_path(@music.user),class: "text-dark" do %>
            <div>
              <%= attachment_image_tag @music.user,:profile_image ,size:"50x50", fallback: "no_image.jpg",class:"mt-3 rounded-circle" %>
            </div>
            <div class=" mt-1"><%= @music.user.name%></div>
            <% end %>
          </div>
          <%# 編集・削除 %>
          <div class="mt-4 text-right">
            <% if @music.user == current_user %>
            <button type="button" class="btn "> <%= link_to edit_music_path(@music),class: "text-info" do%><i class="fas fa-edit">Edit</i><% end %></button>
            <button type="button" class="btn "><%= link_to music_path(@music),method: :delete, "data-confirm" => "Do you really delete?",class: "text-danger" do%><i class="fas fa-trash-alt">Delete</i><% end %></button>
            <% end %>
          </div>
          <%# 投稿日時 %>
          <div class="text-right mt-3"><%= time_ago_in_words(@music.created_at) %></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4" id="comment">
    <%= render "music_comments/comment",comments: @comments, music: @music, music_comment_n: @music_comment_n %>
  </div>
  <div class="row" style="margin-top:200px;">
    <div class="col-2">
       <button class="btn btn-primary">
         <%= link_to :back ,class: "text-light" do%><i class="fas fa-backward">&nbsp;Back</i><% end %>
       </button>
    </div>
  </div>
</div>



