<div class="card">
  <% @groups.each do |group| %>
  <div class="row mb-5">
    <div class="col-3 card-img offset-1">
      <%= attachment_image_tag group,:image ,size:"300x300", fallback: "no_image.jpg",class:"mt-3 rounded-circle" %>
    </div>
    <div class="col-7 card-body offset-1">
      <div class="mt-5">
        <%= link_to group_path(group) do %>
        <h4 class="card-title text-info"><strong><%= group.name %></strong></h4>
        <% end %>
      </div>
      <div>
        <p class="card-text　text-wrap"><%= group.introduction %></p>
      </div>
    </div>
  </div>
  <% end %>
  <%= link_to new_group_path do %>
  <button class="btn btn-block  text-info" style="margin-top:150px; margin-bottom:150px;"><h3><i class="fas fa-users-cog">NEW Group</i></h3></button>
  <% end %>
</div>
