
  <% @musics.each do |m|  %>
  <h3></h3>
  <a href="<%= m.music_url  %>"><img src=""/></a>
  <script>
      const data_<%= m.id  %> = {
      key: '3ce2027b63ce4b30403332b3eb475fbe', //ご自身のAPIキーに置き換えてください
      q: '<%= m.music_url  %>' //任意のURLで試してみてください
    }

    //プレビュー表示用の関数
    const createIMG_<%= m.id  %> = json => {
      document.querySelector('img').src = json.image;
      document.querySelector('h3').textContent = json.title;
    }


    //LinkPreviewを利用した通信処理
    fetch('https://api.linkpreview.net', {
      method: 'POST',
      mode: 'cors',
      body: JSON.stringify(data_<%= m.id  %>),
    })
    .then(data_<%= m.id  %> => data_<%= m.id  %>.json())
    .then(json => createIMG_<%= m.id  %>(json));

  </script>
 <% end %>