<div class="col-6 offset-3">
      <% if chats.present?  %>
        <% chats.each do |chat| %>
          <% if chat.user_id == current_user.id  %>
            <div class="speech-bubble mt-3">
              <div class="sb-bubble sb-line1 sb-right mt-2">
                <strong><%= chat.message %></strong>
              </div>
            </div>
          <% else %>
            <div>
              <%= link_to user_path(chat.user) do %>
                <%= attachment_image_tag chat.user,:profile_image,:fill,40,40, fallback: "no_image.jpg",size: '40x40' ,class: "user-image" %>
              <% end %>
            </div>
            <div class="speech-bubble mt-3">
              <div class="sb-bubble sb-line1 sb-left mt-2">
                <strong><%= chat.message %></strong>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <div class="posts mb-4" style="margin-top:300px;">
      <div style="width:400px;">
        <%= form_with model: chat, local: false do |f| %>
        <%= f.text_field :message, placeholder: "Message", class: "form-inline form-control", size:"30" %>
        <%= f.hidden_field :room_id  %>
      </div>
      <button class=" btn btn-info btn-sm " sryle="width: 100px;"><i class="fab fa-telegram-plane">Send<%f.submit %></i></button>
        <% end %>
    </div>
    </div>