<!DOCTYPE html>
<html>
  <head>
    <title>Musicers</title>
    <%= csrf_meta_tags %>

    <script src="https://kit.fontawesome.com/fe634eb8bd.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <% if user_signed_in? %>
      <li>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      </li>
      <li>
        <%= link_to "Mypage", user_path(current_user) %>
      </li>
      <li>
        <%= link_to "NewPost", new_music_path %>
      </li>
    <% else %>
      <li>
        <%= link_to "New Sign", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "Login", new_user_session_path %>
      </li>
    <% end %>
    <%= yield %>
  </body>
</html>
