<!DOCTYPE html>
<html>
  <head>
    <title>Musicers</title>
    <%= csrf_meta_tags %>

    <script src="https://kit.fontawesome.com/fe634eb8bd.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" >

  </head>

 <body　class="d-flex flex-column vh-100">
  <header class="shadow-lg">
    <nav class="navbar navbar-expand-md navbar-light" style="background-color:#e3f2fd;">
      <div class="container">
        <a class="navbar-brand mr-auto" href="/"><i class="fas fa-play">Musicers</i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-dark' do %><i class="fas fa-sign-out-alt">Logout</i><% end %>
            </li>
            <li class="nav-item">
              <%= link_to user_path(current_user),class: 'nav-link text-dark' do %><i class="fas fa-user">Mypage</i><% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_music_path,class: 'nav-link text-dark' do %><i class="fas fa-plus">NewPost</i><% end %>
            </li>
            <li class="nav-item">
              <%= link_to musics_path,class: 'nav-link text-dark' do %><i class="fas fa-headphones-alt">Musics</i><% end %>
            </li>

            <% else %>
            <li class="nav-item">
              <%= link_to new_user_registration_path,class: 'nav-link text-dark' do %><i class="fas fa-user-plus">New Sign</i><% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path,class: 'nav-link text-dark' do %><i class="fas fa-sign-in-alt">Login</i><% end %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>


  <%= yield %>
</body>