<!DOCTYPE html>
<html>
  <head>
    <title>Musicers</title>
    <%= csrf_meta_tags %>
    <script src="https://kit.fontawesome.com/fe634eb8bd.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" >
  </head>

 <body　class="d-flex flex-column vh-100">
 <div id="all">
  <header id="header" class="shadow-lg sticky-top" >
    <nav class="navbar navbar-expand navbar-light" style="background-color:#e3f2fd; height:65px;">
      <div class="container">
        <a class="navbar-brand mr-auto" href="/"><i class="fas fa-headphones-alt">Musicers</i></a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-dark' do %><i class="fas fa-sign-out-alt">Logout</i><% end %>
            </li>
            <li class="nav-item" >
              <%= link_to "#",class: 'nav-link text-dark',id: "search" do %><i class="fas fa-search-plus">Search</i><% end %>
            </li>
            <li class="nav-item">
              <%= link_to home_path,class: 'nav-link text-dark' do %><i class="fas fa-house-user">Home</i><% end %>
            </li>
            <li class="nav-item">
              <%= link_to user_path(current_user),class: 'nav-link text-dark' do %><i class="fas fa-user">Mypage</i><% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_music_path,class: 'nav-link text-dark' do %><i class="fas fa-plus">NewPost</i><% end %>
            </li>
            <li class="nav-item">
              <%= link_to musics_path,class: 'nav-link text-dark' do %><i class="fas fa-headphones-alt">Musics</i><% end %>
            </li>
            <li class="nav-item" >
              <%= link_to groups_path ,class: 'nav-link text-dark',id: "search" do %><i class="fas fa-users">Groups</i><% end %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to new_user_registration_path,class: 'nav-link text-dark' do %><i class="fas fa-user-plus">SignUp</i><% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path,class: 'nav-link text-dark' do %><i class="fas fa-sign-in-alt">Login</i><% end %>
            </li>
            <% end %>
          </ul>
        </div>
        <div id="hm-icon">
          <a class="menu-trigger" href="#">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class=" py-5 " id="search-form" >
      <div class="search-box">
        <div class="d-inline">
          <%= form_with url: search_path, method: :get,  local: true do |f|%>
            <%= f.text_field :keyword, value: @keyword ,placeholder: "Search",class: "form-control " ,id: "form-control"%>
        </div>
        <button class="btn">
          <i class="fas fa-search fa-lg "></i>
          <% f.submit %>
        </button>
          <% end %>
      </div>
    </div>
    <div id="sp-menu" class="pt-5">
      <ul class="hidden-menu ml-auto " style="list-style-type: none" >
        <% if user_signed_in? %>
        <li class="menu-item">
          <%= link_to home_path,class: 'nav-link text-dark' do %><i class="fas fa-house-user">Home</i><% end %>
        </li>
        <li class="menu-item">
          <%= link_to user_path(current_user),class: 'nav-link text-dark' do %><i class="fas fa-user">Mypage</i><% end %>
        </li>
        <li class="menu-item">
          <%= link_to new_music_path,class: 'nav-link text-dark' do %><i class="fas fa-plus">NewPost</i><% end %>
        </li>
        <li class="menu-item">
          <%= link_to musics_path,class: 'nav-link text-dark' do %><i class="fas fa-headphones-alt">Musics</i><% end %>
        </li>
        <li class="nav-item" >
          <%= link_to groups_path ,class: 'nav-link text-dark',id: "search" do %><i class="fas fa-users">Groups</i><% end %>
        </li>
        <li class="nav-item" >
          <%= link_to "#",class: 'nav-link text-dark',id: "search" do %><i class="fas fa-search-plus">Search</i><% end %>
        </li>
        <li class="menu-item">
          <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-dark' do %><i class="fas fa-sign-out-alt">Logout</i><% end %>
        </li>
        <% else %>
        <li class="menu-item">
          <%= link_to new_user_registration_path,class: 'nav-link text-dark' do %><i class="fas fa-user-plus">SignUp</i><% end %>
        </li>
        <li class="menu-item">
          <%= link_to new_user_session_path,class: 'nav-link text-dark' do %><i class="fas fa-sign-in-alt">Login</i><% end %>
        </li>
        <% end %>
      </ul>
    </div>

      <%= yield %>

  </main>

   <footer id="footer">
    <a class="mr-4 mb-5" href="#" id="page-top">TOP</a>
    <div class="row mb-2 pt-2" style="background-color:#e3f2fd; height: 40px">
      <div class="mx-auto">
        <i>Copyright © 2013 Apple Inc. All rights reserved.</i>
      </div>
    </div>
   </footer>
</div>
</body>