<% comments.each do |music_comment| %>
<tr>
  <%# ユーザー %>
  <td>
    <%= link_to  user_path(music_comment.user), class: "text-dark" do %>
    <div><%= attachment_image_tag music_comment.user,:profile_image ,size:"50x50", fallback: "no_image.jpg",class:"mt-3 rounded-circle" %></div>
    <div>&ensp;<%= music_comment.user.name %></div>
    <% end %>
  </td>
  <%# コメント %>
  <td class="pt-4"><%= music_comment.comment %></td>
  <%# 星ランク %>
  <td>
    <% unless music_comment.post_rate.nil? %>
    <div id="music_post_rate_<%= music_comment.id  %>" data-score="<%= music_comment.post_rate %>" class="text-center mt-3"></div>
    <script>
      $(document).on('turbolinks:load', function(){
        $('#music_post_rate_<%= music_comment.id %>').empty();
        $('#music_post_rate_<%= music_comment.id  %>').raty({
          readOnly: true,
          score: function() {
          return $(this).attr('data-score');
          },
          path: '/assets/'
       });
      });
    </script>
    <% end %>
  </td>
  <%# コメント編集・削除 %>
  <% if music_comment.user == current_user %>
  <td class="pt-4">
    <button class="btn " style="width: 70px">
      <%= link_to edit_music_music_comment_path(music_comment.music,music_comment),method: :get, class: "text-info" do %><i class="fas fa-edit">Edit</i><% end %>
    </button>
    <button type="button" class="btn "  style="width: 70px">
    　<%= link_to music_music_comment_path(music_comment.music,music_comment),method: :delete,'data-confirm' => "Do you really want to delete?", class: "text-danger",remote: true do %><i class="fas fa-trash-alt">Delete</i><% end %>
    </button>
  </td>
  <% end %>

</tr>
<% end %>