<% comments.each do |music_comment| %>
<tr>
  <td>
    <%= link_to  user_path(music_comment.user) do %>
    <div><%= attachment_image_tag music_comment.user,:profile_image ,size:"50x50", fallback: "no_image.jpg",class:"mt-3 rounded-circle" %></div>
    <div>&ensp;<%= music_comment.user.name %></div>
    <% end %>
  </td>
  <td class="pt-4"><%= music_comment.comment %></td>
  <% if music_comment.user == current_user %>
  <td class="pt-4">
    <button class="btn btn-outline-info btn-sm" style="width: 70px">
    <%= link_to edit_music_music_comment_path(music_comment.music,music_comment),method: :get, class: "text-info" do %><i class="fas fa-edit"></i><% end %></button>
  </td>
  <td class="pt-4">
    <button type="button" class="btn btn-outline-danger btn-sm"  style="width: 70px">
    <%= link_to music_music_comment_path(music_comment.music,music_comment),method: :delete,'data-confirm' => "Do you really want to delete?", class: "text-danger",remote: true do %><i class="fas fa-trash-alt"></i><% end %></button>
  </td>
  <% end %>
</tr>
<% end %>