<div class="container" style="margin-bottom:1000px;">
  <h1 class="mt-5"><i class="far fa-comments">Comment</i></h1>
  <div class="row mt-5">
    <div class="col-8 offset-2 col-md-10 offset-md-1">
      <%= form_with(model:[@music, @music_comment], local: true) do |f| %>
      <%# コメント欄 %>
      <div>
        <%= f.text_area :comment, rows:'5',placeholder: "Comment" ,class: "form-control" %>
      </div>

      <%# 星ランク %>
      <div id="post_star" class="mb-2 mt-3">
        <%= f.label :post_rate,'Rate' %>
        <%= f.hidden_field :post_rate,id: :review_star %>
      </div>
      <script>
        $(document).on('turbolinks:load', function(){
          $('#post_star').raty({
         starOn: "<%= asset_path('star-on.png') %>",
         starOff: "<%= asset_path('star-off.png') %>",
         starHalf: "<%= asset_path('star-half.png') %>",
         scoreName: 'music_comment[post_rate]', //登録するモデル名とカラム名を記述
         half: true,
         });
        });
      </script>

      <%# 送信ボタン %>
      <button class="btn btn-info mt-4" style="width:100px">Post
        <% f.submit %>
      </button>
      <% end %>
    </div>
  </div>
</div>
